/* By Uk */
@font-face {
  font-family: Poppins-ExBold;
  src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Light;
  src: url("../fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: Poppins-Semibold;
  src: url("../fonts/Poppins/Poppins-Semibold.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: noah-ExtraBold;
  src: url("../fonts/noah/Noah-ExtraBold.ttf");
}

@font-face {
  font-family: noah-Bold;
  src: url("../fonts/noah/Noah-Bold.ttf");
}

html {
  scroll-behavior: smooth;
}

.bg-white {
  background-color: #ffffff;
}

.mb {
  margin-bottom: 40px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.title {
  font-family: Poppins-SemiBold;
  font-size: 40px;
  text-align: center;
}

@media (max-width: 575.98px) {
  .title {
    font-size: 24px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .title {
    font-size: 32px;
  }
}

.subtitle {
  font-size: 14px;
  text-align: center;
  width: 90%;
}

.btn, .d-header .d-header-btn, .d-btn, .d-test-box .btn-add-question {
  width: 180px;
  height: 45px;
  background-color: #004FD0;
  font-family: Poppins-Semibold;
  outline: none;
  color: #ffffff;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.btn:hover, .d-header .d-header-btn:hover, .d-btn:hover, .d-test-box .btn-add-question:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 15px #ed77337a;
          box-shadow: 0px 4px 15px #ed77337a;
}

.btn-outline {
  width: 180px;
  height: 45px;
  background-color: #ffffff;
  font-family: Poppins-Semibold;
  outline: none;
  color: #000000;
  border: 1px solid #004FD0;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.btn-outline:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 15px #ed77337a;
          box-shadow: 0px 4px 15px #ed77337a;
}

.search-filter-grid > .dropdown-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dropdown-select {
  width: 96%;
  height: 42px;
  border: 0px;
  border-radius: 4px;
  margin: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  text-align: left;
  white-space: nowrap;
}

.dropdown-menu-form {
  height: 120px;
  overflow-y: auto;
  font-family: Poppins-Semibold;
  font-size: 13px;
  padding: 10px;
  width: auto;
  min-width: 15rem;
}

.dropdown-menu-form::-webkit-scrollbar {
  width: 3px;
}

.dropdown-menu-form::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(87, 87, 87, 0.3);
          box-shadow: inset 0 0 6px rgba(87, 87, 87, 0.3);
}

.dropdown-menu-form::-webkit-scrollbar-thumb {
  background-color: #7176db73;
  border-radius: 6px;
}

header {
  width: 100%;
  z-index: 999;
  padding: 0;
  margin: 0;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

header .navbar {
  font-weight: 100;
  padding: 1.5% 11%;
  height: auto;
  top: 1%;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

@media (max-width: 575.98px) {
  header .navbar {
    padding: 3% 2.5%;
    top: 0;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  header .navbar {
    padding: 3% 2.5%;
    top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  header .navbar {
    padding: 3% 2.5%;
    top: 0;
  }
}

header .navbar.blackto {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 10px rgba(12, 12, 12, 0.145);
          box-shadow: 0px 2px 10px rgba(12, 12, 12, 0.145);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

header .navbar .navbar-toggler {
  outline: none;
}

header .navbar .navbar-brand {
  padding: 0;
  font-size: initial;
}

header .navbar .navbar-brand .logo-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .navbar-brand .logo-media .logo-circle {
  background-color: #004FD0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 7px;
}

header .navbar .navbar-brand .logo-media .logo-name {
  margin: 0;
  font-size: 12px;
  color: #074FDF;
  font-family: Poppins-Bold;
}

header .navbar .custom-navbar-nav {
  position: relative;
}

header .navbar .custom-navbar-nav .nav-item .nav-link {
  padding: 0.5rem 1.5rem;
  color: rgba(59, 59, 59, 0.98);
  font-size: 14px;
  font-family: Poppins-Bold;
}

header .navbar .custom-navbar-nav .nav-item .nav-link:hover {
  -webkit-columns: #000000;
          columns: #000000;
}

@media (max-width: 575.98px) {
  header .navbar .custom-navbar-nav .nav-item .nav-link {
    padding: .5rem .5rem;
  }
}

header .navbar .custom-navbar-nav .nav-item .nav-link.header-link {
  background-color: rgba(7, 79, 223, 0.329);
  border-radius: 100px;
  color: #074FDF;
}

.sidebar::-webkit-scrollbar {
  width: 3px;
}

.sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(87, 87, 87, 0.3);
          box-shadow: inset 0 0 6px rgba(87, 87, 87, 0.3);
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #7176db73;
  border-radius: 6px;
}

.sidebar-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidebar-list .sidebar-item {
  position: relative;
}

.sidebar-list .sidebar-item a[data-toggle] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 10px;
}

.sidebar-list .sidebar-item a[data-toggle][aria-expanded="true"] {
  border-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.26);
}

.sidebar-list .sidebar-item a[data-toggle][aria-expanded="true"] span {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.sidebar-list .sidebar-item a[data-toggle] span {
  -webkit-transition: all 350ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 350ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sidebar-list .sidebar-item div[data-parent] {
  background-color: rgba(45, 72, 209, 0.418);
}

.sidebar-list .sidebar-item div[data-parent] .sidebar-link {
  font-size: 12px;
  padding-left: 20px;
}

.sidebar-list .sidebar-item .sidebar-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-family: Poppins-Regular;
  display: block;
  padding: 15px 5px 15px 20px;
  border-left: 7px solid transparent;
  -webkit-transition: all 350ms cubic-bezier(0.785, 0.135, 0.15, 0.66);
  transition: all 350ms cubic-bezier(0.785, 0.135, 0.15, 0.66);
}

.sidebar-list .sidebar-item .sidebar-link.active {
  border-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.26);
}

.sidebar-list .sidebar-item .sidebar-link:hover {
  border-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.26);
}

.sidebar-list .sidebar-item .sidebar-link i {
  border-color: #ffffff;
  font-size: 16px;
  margin-right: 12px;
}

.top-dot {
  background-color: #DAE0FB;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  left: -10%;
  top: -20%;
}

.custom-breadcrumb .breadcrumb {
  background-color: rgba(7, 79, 223, 0.329);
  padding: 1% 11%;
  height: 50px;
  margin: 0;
}

.custom-breadcrumb .breadcrumb .breadcrumb-item.active {
  color: #727272 !important;
}

.custom-breadcrumb .breadcrumb .breadcrumb-item a {
  color: #A9A9A9;
}

.dashboard {
  padding: 5% 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard .sidebar {
  width: 230px;
  height: auto;
  -webkit-box-shadow: 2px 3px 10px rgba(119, 119, 119, 0.1);
          box-shadow: 2px 3px 10px rgba(119, 119, 119, 0.1);
}

.dashboard .sidebar .sidebar-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.dashboard .sidebar .sidebar-list .sidebar-item {
  position: relative;
}

.dashboard .sidebar .sidebar-list .sidebar-item .sidebar-link {
  color: #6A707E;
  text-decoration: none;
  font-size: 14px;
  font-family: Poppins-SemiBold;
  display: block;
  padding: 15px 5px 15px 10px;
  border-left: 3px solid transparent;
  -webkit-transition: all 350ms cubic-bezier(0.785, 0.135, 0.15, 0.66);
  transition: all 350ms cubic-bezier(0.785, 0.135, 0.15, 0.66);
}

.dashboard .sidebar .sidebar-list .sidebar-item .sidebar-link.active {
  border-color: #004FD0;
  color: #074FDF;
  background-color: rgba(237, 119, 51, 0.15);
}

.dashboard .sidebar .sidebar-list .sidebar-item .sidebar-link:hover {
  background-color: rgba(237, 119, 51, 0.15);
}

.dashboard .dashaboard-main {
  padding: 0% 2%;
  position: relative;
  width: 100%;
  height: auto;
}

.dashboard .dashaboard-main .dashboard-data {
  border-radius: 3px;
  min-height: 170px;
  margin-bottom: 40px;
  -webkit-box-shadow: 2px 3px 10px rgba(119, 119, 119, 0.1);
          box-shadow: 2px 3px 10px rgba(119, 119, 119, 0.1);
  background: linear-gradient(200.78deg, #E36CD9 8.53%, #FE60AE 91.47%), #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard .dashaboard-main .dashboard-data.d-bg1 {
  background: linear-gradient(200.78deg, #9A56FF 8.53%, #D78AFD 91.47%), #FFFFFF;
}

.dashboard .dashaboard-main .dashboard-data.d-bg2 {
  background: linear-gradient(200.78deg, #23BDB8 8.53%, #43E794 91.47%), #FFFFFF;
}

.dashboard .dashaboard-main .dashboard-data .dashboard-count {
  color: #ffffff;
  margin-bottom: 6px;
  font-size: 35px;
  font-family: Poppins-Bold;
}

.dashboard .dashaboard-main .dashboard-data .dashboard-name {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}

.d-title {
  color: rgba(7, 79, 223, 0.329);
  font-family: Poppins-SemiBold;
  font-size: 35px;
}

.custom-table {
  border: 1px solid #DDDFE1;
}

.custom-table.custom-table1 tbody tr:nth-child(odd) {
  background-color: rgba(7, 79, 223, 0.329);
}

.custom-table.custom-table1 tbody tr td {
  padding: 19px 14px;
}

.custom-table .thead-bg {
  background-color: rgba(7, 79, 223, 0.329);
}

.custom-table .thead-bg.thead-bg-white {
  background-color: #ffffff;
}

.custom-table .thead-bg th {
  font-family: Poppins-SemiBold;
  font-size: 16px;
  color: #464A53;
}

.custom-table tbody tr td {
  font-size: 14px;
  color: #464A53;
}

.custom-table tbody tr td .d-dot {
  width: 8px;
  height: 8px;
  margin-right: 4px;
  border-radius: 50%;
  background-color: #71D875;
  display: inline-block;
}

.d-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-grp {
  position: relative;
  margin-bottom: 18px;
}

.d-grp .d-label {
  color: #727272;
  width: 100%;
  font-family: Poppins-Semibold;
  font-size: 13px;
  margin-bottom: 4px;
  line-height: 1;
}

.d-grp .d-inp {
  width: 100%;
  border-radius: 4px;
  height: 45px;
  padding: 10px 12px;
  border: 1px solid #D1D1D1;
  outline: none;
  font-size: 14px;
  color: #000000;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.d-grp .d-inp.d-inp1 {
  height: auto !important;
}

.d-grp .d-inp:focus {
  border: 1px solid #074FDF;
}

.d-btn {
  border-radius: 4px;
}

.qtn-btn {
  background-color: transparent;
  width: auto;
  margin-left: 15px;
  color: #ABAFB3;
  font-family: Poppins-Semibold;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  cursor: pointer;
}

.qtn-btn:focus {
  outline: none;
}

.d-update-pwd {
  color: #A9A9A9;
  font-size: 12px;
}

.d-pwd-update {
  border-radius: 12px;
  border: 1px solid #D1D1D1;
  padding: 20px 20px 25px 20px;
}

.d-test-title {
  color: #727272;
  font-family: Poppins-Semibold;
  margin-bottom: 20px;
}

.d-test-box {
  background-color: rgba(7, 79, 223, 0.329);
  padding: 15px;
  margin-bottom: 40px;
}

.d-test-box.d-test-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 40vh;
}

.d-test-box .btn-add-question {
  width: 70px;
  border-radius: 4px;
}

.d-test-box .d-attach-title {
  color: #6A707E;
  margin-bottom: 10px;
}

.d-test-box .d-attach-title i {
  color: #074FDF;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-right: 5px;
}

.d-test-box .d-test-attach-para {
  color: rgba(7, 79, 223, 0.329);
  margin-bottom: 15px;
}

.d-test-box .d-test-attach {
  width: 70%;
  height: 45px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #004FD0;
  margin-bottom: 20px;
  padding: 0;
}

.d-test-box .d-test-attach .d-test-inp {
  height: 100%;
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  opacity: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
}

.d-test-box .d-test-attach .d-test-label {
  cursor: pointer;
  background-color: #004FD0;
  height: 44px;
  position: relative;
  top: -1px;
  width: 100px;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  color: #ffffff;
}

.explore-card {
  width: 230px;
  min-height: 220px;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  overflow: hidden;
}

@media (max-width: 575.98px) {
  .explore-card {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .explore-card {
    width: 100%;
  }
}

.explore-card .explore-box {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  padding: 7% 5%;
}

.explore-card .explore-box .explore-title {
  font-family: Poppins-Bold;
  font-size: 18px;
  color: rgba(59, 59, 59, 0.98);
  margin-bottom: 18px;
}

.explore-card .explore-box .explore-list {
  list-style: none;
  margin: 3% 0%;
  padding-left: 0px;
}

.explore-card .explore-box .explore-list li {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: rgba(59, 59, 59, 0.98);
  position: relative;
  margin-bottom: 7px;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 2% 0% 4% 0%;
  background-color: rgba(7, 79, 223, 0.329);
}

footer .footer-heading {
  color: #FCCF23;
  padding: 12px 0px;
  font-family: Poppins-Bold;
  font-weight: 100;
  font-size: 14px;
}

footer hr {
  border-top: 3px solid #004FD0;
}

footer .footer-list {
  position: relative;
  width: 100%;
}

footer .footer-list .footer-li {
  padding: 0px 0px;
  margin: 0;
}

footer .footer-list .footer-li .footer-link {
  color: #FCCF23;
  font-size: 14px;
  font-family: Poppins-Regular;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

footer .footer-list .footer-li .footer-link:hover {
  color: #00a2ff;
  text-decoration: none;
}

footer .footer-list .footer-addr {
  padding: 10px 0px 0px 0px;
  margin: 0;
}

footer .footer-list .footer-addr .addr-iocn {
  color: white;
  padding: 0px 10px;
}

@media (max-width: 575.98px) {
  footer .footer-list .footer-addr .addr-iocn {
    padding: 0px 4px;
  }
}

footer .footer-list .footer-addr .addr-details {
  padding: 0;
  margin: 0;
  font-family: Poppins-Regular;
  font-weight: normal;
  font-size: 12px;
  color: white;
}

footer .copyright {
  color: rgba(59, 59, 59, 0.68);
  font-size: 14px;
}

footer .social-media {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .social-media li {
  margin-right: 25px;
}

footer .social-media .social-list {
  color: rgba(59, 59, 59, 0.68);
  width: 47px;
  height: 47px;
  background-color: #ffffff;
  border-radius: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 8px rgba(59, 59, 59, 0.12);
          box-shadow: 0px 2px 8px rgba(59, 59, 59, 0.12);
  -webkit-transition: all 350ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 350ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

footer .social-media .social-list:hover {
  background-color: #004FD0;
}

footer .social-media .social-list:hover a {
  color: #ffffff;
}

footer .social-media .social-links {
  color: rgba(59, 59, 59, 0.68);
  font-family: Poppins-Bold;
  font-size: 14px;
  display: block;
  text-decoration: none;
}
/*# sourceMappingURL=dashboard.css.map */