/* By Uk */
@import 'mixin';
@import 'fonts';
@import 'colors';



.btn{
    width: 180px;
    height: 45px;
    background-color: $bg;
    font-family: Poppins-Medium;
    font-size: 13px;
    outline: none;            
    color: #ffffff;
    border: 0;
    padding: 0px 12px;
    box-sizing: content-box;
    border-radius: 100px;
    cursor: pointer;
    user-select: none;
    transition: all 350ms ease;
    &:hover{
        transform: scale(1.08);
        border-radius: 4px;
        box-shadow: 0px 4px 15px rgba(7, 79, 223, 0.329);
    }
    &:disabled{
        cursor: not-allowed;
        background-color: #93bcff;
    }
}

.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}

// ===================================== login
.bg-red{
    background-color: $bg;
}
.login{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: block;
    .login-box{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        // justify-content: flex-end;
        padding: 9% 9%;
        position: relative;
        &.reg-box{
            padding-left: 15%;
        }
        .stages{
            margin: 6% 0%;
            padding-left: 0;
            list-style-type: none;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                top: 4px;
                left: 9.5px;
                width: 1px;
                height: 89%;
                background-color: #F9F7F7;
            }
            .stages-item{
                position: relative;
                // padding-left: 30px;
                padding-left: 0;
                margin-bottom: 35px;
                // display: flex;
                // align-items: center;
                transition: all 350ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
                &:nth-last-child(1){
                    margin-bottom: 0;
                }
                .stages-link{
                    display: flex;
                    align-items: center;  
                    text-decoration: none; 
                    transition: all 350ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
                    &.completed{
                        .stage-circle{
                            background-color: #ffffff;
                        }
                    }
                    &.active{
                        .stage-circle{
                            border: 5px solid #F9F7F7;
                        }
                    } 
                    .stage-circle{
                        width: 20px;
                        height: 20px;
                        background-color: $bg;
                        border: 1px solid #F9F7F7;
                        border-radius: 50%;
                        margin-right: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                        color: $bg;
                        transition: all 350ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
                    }
                    .stage-link-txt{
                        color: $txtWhite;
                        font-family: Poppins-Medium;
                        font-size: 16px;
                        margin: 0;
                        line-height: 1;
                    }          
                }
            }

        }        
        &.login-box1{
            background-color: $bgWhite;
            // justify-content: flex-start;
            padding: 8% 7%;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
        }
        .login-img1{
            position: absolute;
            top: 6%;
            right: 4%;
            width: 33%;
            &.login-img3{
                width: 20%;
                top: 0;
                right: 0;
            }
        }
        .login-img2{
            margin: 8% auto;
            width: 75%;
            &.login-university-img{
                margin-top: 13%;
            }
            &.login-student-img{
                margin-top: 20%;
            }
        }
        .login-heading{
            color: $txtWhite;
            font-family: Poppins-Bold;
            margin-bottom: 20%;
            font-size: 50px;
        }
        .login-subheading{
            color: $txtWhite;
            font-family: Poppins-Bold;
            margin-bottom: 12px;
            font-size: 25px;
        }
        .login-content{
            color: $txtWhiteShade;
            font-size: 16px;
            font-weight: 100;
            font-family: Poppins-Light;
        }
    }
}

.line{
    margin: 20px auto;
    width: 110px;
    height: 9px;
    background-color: #CDD2D6;
    border-radius: 2px;
}
.login-title{
    text-align: center;
    font-family: Poppins-Bold;
    font-size: 35px;
    margin-top: 5%;
    margin-bottom: 0%;
    color: $txtBlack1;
    span{
        color: $txtBlue;
    }
}
.login-form{
    padding: 2% 0%;
    margin-top: 3%;
    // display: flex;
    width: 50%;
    &.reg-form{
        width: 100%;
        .login-grp{
            margin-bottom: 20px;
            .login-inp{
                height: 42px;
                border-color: $borderGrey1;
                border-radius: 4px;
            }
        }
    }
    .reg-label{
        color: #000000CF;
        margin-bottom: 12px;
        font-size: 14px;
        font-family: Poppins-Medium; 
    }
    .custom-checkbox{
        font-size: 11px;
        margin-left: 12px;
        .custom-control-label{
            margin-top: 4px;
        }
    }
    .login-grp{
        position: relative;
        margin-bottom: 12px;
        width: 100%;
        .login-label{
            color: $txtBlackShade2;
            width: 100%;
            font-family: Poppins-Medium;
            font-size: 13px;
            margin-bottom: 8px;
            line-height: 1;
        }
        .login-inp{
            width: 100%;
            border-radius: 6px;
            height: 48px;
            padding: 0px 12px;
            border: 2px solid $borderBlue;
            outline: none;
            font-size: 14px;
            color: $txtBlack;
            font-family: Poppins-Medium;
            transition: all 300ms ease;
            &.login-inp-error{
                border-color: #DB4437 !important;
            }
            &.reg-inp2{
                width: 270px !important;
                border-color: #004fd080 !important;
                // border-color: $border !important;
                border-radius: 1px !important;
                color: $txtBlue1;
                text-align: center;
                font-size: 18px;
            }
            &.login-txtarea{
                height: auto;
                padding: 5px 12px;
            }
            &:focus{
                border: 2px solid $txtOrange;
            }
            &::placeholder{
                color: #00000070;
            }
            &.error{
                border-color: #AD0E1E;
            }
        }
        .inp-errors{
            color: #DB4437;
            position: absolute;
            // bottom: -31px;
            /* top: 72px; */
            margin: 0;
            font-size: 12px;
        }
        .login-forgot{
            color: $txtGrey1;
            text-decoration: none;
            font-size: 13px;
            // font-family: Poppins-Light;                    
            &:hover{
                color: rgb(79, 79, 236);
            }
        }
        .inp-icon{
            position: absolute;
            right: 14px;
            top: 11px;
            z-index: 99;
        }
    }
    .reg-attach{
        width: 100%;
        border-radius: 6px;
        height: 48px;
        // padding: 0px 12px;
        // overflow: hidden;
        border: 2px solid $borderGrey1;
        outline: none;
        font-size: 14px;
        color: $txtBlack;
        display: flex;
        margin-bottom: 12px;
        position: relative;
        > span{
            position: absolute;
            font-size: 30px;
            left: 8px;
            color: #28a745;
        }
        .reg-inp{
            height: 100%;
            appearance: none !important;
            -webkit-appearance: none !important;
            -moz-appearance: none !important;
            opacity: 0;
            flex: 1;
            cursor: pointer;
        }
        .reg-label{
            cursor: pointer;
            background-color: $bg;
            height: 47px;
            position: absolute;
            top: -1px;
            right: -1px;
            width: 100px;
            // vertical-align: bottom;
            line-height: 1;
            box-sizing: border-box;
            border-radius: 0px 6px 6px 0px;
            outline: none;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            color: $txtWhite;
            // padding: 2px 18px;
        }
    }
    .login-btn{
        @extend .btn;
        width: 180px;
        height: 55px;
        margin-top: 25px;
        margin-bottom: 20%;
    }
    .reg-btn{
        @extend .btn;
        width: 150px;
        height: 52px;
        margin-top: 10px;
    }
    .login-with{
        text-align: center;
        margin: 16px 0px;
        color: $txtBlackShade;
        font-size: 17px;
    }
    .login-list{
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        // flex-direction: column;
        position: relative;
        margin-bottom: 10%;
        &::after{
            content: "";
            position: absolute;
            width: 90px;
            height: 1px;
            background-color: $bg;
            border-radius: 4px;
            bottom: -30%;
            right: 30%;
        }
        .login-list-item{
            &:nth-child(2){
                a{
                    background-color: #1DA1F2;
                }
            }
            &:nth-child(3){
                a{
                    background-color: #DB4437;
                }
            }
            &:nth-child(4){
                a{
                    background-color: #007BB5;
                }
            }
            a{
                background-color: #3B5998;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 3px 7px;
                color: $txtWhite;
                font-family: Poppins-Bold;
                line-height: 1;
                text-decoration: none;
                transition: all 300ms ease-in;
                &:hover{
                    border-radius: 4px;
                    box-shadow: 0px 4px 15px #ed77337a;
                }
            }
        }
    }
    .login-register{
        text-align: center;
        color: $txtGrey1;
        font-size: 13px;
        font-family: Poppins-Semibold;                   
        margin-bottom: 2px;
        a{
            color: $txtOrange;
            text-decoration: none;
            &:hover{
                color: rgb(79, 79, 236);
            }
        }
    }
}
.reg-inp-info{
    font-size: 11px;
    color: $txtGrey4;
    text-align: center;
    font-family: Poppins-Medium; 
}
.reg-like{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 2% auto;
    background-color: $bg;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: $txtWhite;
}

.reg-para{
    color: $txtGrey4;
    // width: 90%;
    margin: 1% auto;
    font-size: 14px;
    text-align: center;
    font-family: Poppins-Medium;
}
.reg-payment-btns{
    text-align: center;
    margin: 4% 0%;
    &.reg-payment-btns2{
        display: flex;
        justify-content: space-between;
        .reg-payment-btn{
            border-radius: 4px;
            margin: 3px 0px;

        }
    }
    .reg-payment-btn{
        @extend .btn;
        width: auto;
        min-width: 180px;
        height: 42px;
        font-size: 12px;
        margin: 3px 15px;
        span{
            width: 21px;
            height: 21px;
            display: inline-block;
            border-radius: 50%;
            background-color: #ffffff;
            color: $txtBlue;
            padding-top: 1px;
            margin: 0px 6px;
            line-height: 1.6;
            // display: flex;
            // align-items: center;
            // justify-content: center;
        }
    }
}

.reg-header{
    width: 100%;
    height: 45px;
    border-radius: 6px;
    padding: 5px 20px;
    background-color: $bg;
    color: $txtWhite;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    font-family: Poppins-Medium;
    i{
        margin-right: 10px;
    }
}
.reg-center{
 margin: 4% 0%;
}
.reg-media{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    // flex-wrap: wrap;
    .reg-media-icon{
        width: 65px;
        height: 65px;
        border-radius: 50%;
        background-color: $bg;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: $txtWhite;
        margin-right: 20px;
    }
    .login-grp{
        margin-bottom: 0 !important;
        .login-inp{
            height: 38px !important;
            width: 250px;
        }
        .reg-resend{
            width: 250px;
            text-align: right;
            margin-bottom: 0;
            a{
                color: $txtGrey3;
                text-decoration: none;
                font-size: 12px;
            }
        }
    }
}

.reg-payment{
    width: 100%;
    .reg-payment-title{
        color: $txtBlue1;
        font-size: 22px;
        font-family: Poppins-Bold;
        margin-bottom: 18px;
    }
    .nav-pills{
        .nav-item{
            margin-right: 8px;
            &:nth-last-child(1){
                margin-right: 0;
            }
            .nav-link{
                background-color: $bgGrey;
                white-space: nowrap;
                border-radius: 1px;
                font-size: 12px;
                padding: .6rem 1rem;
                color: $txtBlue1;
                font-family: Poppins-Medium;
                &.active{
                    background-color: $bg;
                    color: $txtWhite;
                }
            }
        }
    }
}

.payment-summary{
    position: relative;
    width: 100%;
    background-color: $txtGrey5;
    padding-bottom: 10%;
    .payment-summary-header{
        background-color: $bg;
        padding: 10px 40px;
        font-family: Poppins-Medium;
        color: $txtWhite;
        font-size: 14px;
    }
    .payment-data{
        padding: 10px 40px;
        list-style-type: none;
        .payment-data-li{
            display: flex;
            justify-content: space-between;
            color: #5E5C5C;
            font-size: 14px;
            margin-bottom: 20px;
            &:nth-last-child(1){
                border-top: 2px solid $borderBlue;
                padding-top: 12px;
            }
            .payment-data-name{
                margin-bottom: 0;
                span{
                    font-size: 9px;
                }
            }
        }
    }
}

.modal-form{
    padding: 2% 8%;
    border-radius: 32px;
    // outline: 6px solid $bg;
    border: 8px solid transparent;
    .modal-title{
        text-align: center;
        font-family: Poppins-Bold;
        font-size: 35px;
        margin-top: 5%;
        margin-bottom: 0%;
        color: $txtOrange;
    }
    .login-form{
        width: 100%;
        .login-grp{
            width: 70%;
        }
    }
    .modal-inp{
        width: 100%;
        border-radius: 50px;
        height: 58px;
        padding: 0px 12px;
        padding-left: 50px;
        border: 2px solid #707070;
        outline: none;
        font-size: 14px;
        color: $txtBlack;
        font-family: Poppins-Bold;
        transition: all 300ms ease;
        &:focus{
            border: 2px solid $txtOrange;
        }
        &.error{
            border-color: #AD0E1E;
        }
    }
    .modal-icon{
        position: absolute;
        left: 22px;
        top: 13px;
        z-index: 99;
        font-size: 24px;
    }
    .login-register{
        text-align: center;
        color: $txtGrey1;
        font-size: 12px;
        // font-family: Poppins-Semibold;  
    }
}

.loader{
    background-color: rgba(94, 94, 94, 0.342);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

// =====================================
