@import 'mixin';

.main{
    padding: 2%;
    margin-top: 100px;
    flex: 1;
    .main-title{
        font-family: Poppins-Bold;
        font-size: 26px;
        text-align: center;
        color: #2A3050;
    }
}

.btn-prevent{
    pointer-events: none;
}

.btn3{
    width: auto;
    min-width: 90px;
    height: 35px;
    background-color: #253AA3;
    font-family: Poppins-Regular;
    font-size: 12px;
    outline: none;            
    color: #ffffff;
    border: 0;
    padding: 0px 12px;
    box-sizing: content-box;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    margin: 4px;
    transition: all 350ms ease;
    &:focus{
        outline: none;
    }
    &:hover{   
        color: #ffffff;
        transform: scale(1.05);
        border-radius: 4px;
        box-shadow: 0px 4px 15px rgba(7, 79, 223, 0.329);
    }
}

.btn-blue{
    background-color: #253AA3;
}
.btn-lightgreen{
    background-color: #20BDC9;
}
.btn-lightgreen2{
    background-color: #D7F3F6;
}
.btn-yellow{
    background-color: #FEAD43;
}
.btn-yellow2{
    background-color: rgba(254, 173, 67, 0.5) !important;
}

.txt-lightgreen{
    color: #20BDC9;
}
.txt-yellow{
    color: #D6871F !important;
}

.d-grp{
    display: block;
    margin-bottom: 18px;
    position: relative;
    .d-caption{
        position: absolute;
        top: -10px;
        left: 10px;
        background-color: #ffffff;
        color: #878BA6;
        font-family: Poppins-Medium;
        font-size: 10px;
        padding: 2px;
    }
    .rejected-reason{
        color: #878BA6;
        font-family: Poppins-Medium;
        font-size: 10px;
        margin-bottom: 0;
    }
    .d-inp{
        width: 100%;
        height: 42px;
        border-radius: 4px;
        padding: 0px 10px;
        border: 2px solid #9499B7;
        font-family: Poppins-Regular;
        font-size: 14px;
        background-color: transparent;
        &:focus{
            box-shadow: none;
            outline-color: #253AA3;
        }
        &.d-textarea{
            height: auto !important;
            padding: 10px 10px;
        }
    }
    .publish-inp{
        position: absolute;
        left: -20px;
        top: 10px;
    }
    span{
        font-family: Poppins-Regular;
        font-size: 14px;
        margin-right: 8px;
        color: #878BA6;
    }
    .custom-control-inline{
        font-family: Poppins-Regular;
        margin-right: 0.6rem;
        font-size: 14px;
        color: #878BA6;
        .custom-control-label{
            &::before, &::after{
                width: 0.8rem;
                height: 0.8rem;
            }
            vertical-align: middle;
        }
    }
    .custom-checkbox{
        @extend .d-profile-name;
    }
}

.d-profile-name{
    margin-bottom: 18px;
    color: #878BA6;
    font-size: 14px;
    font-family: Poppins-Regular;
}

.d-attach{
    width: 100%;
    border-radius: 4px;
    height: 42px;
    // padding: 0px 12px;
    // overflow: hidden;
    outline: none;
    font-size: 14px;
    display: flex;
    margin-bottom: 18px;
    position: relative;
    border: 2px solid #9499B7;
    .d-inp{
        height: 100%;
        appearance: none !important;
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        opacity: 0;
        flex: 1;
        cursor: pointer;
    }
    .d-label{
        cursor: pointer;
        height: 41px;
        position: absolute;
        top: -1px;
        right: -1px;
        width: 130px;
        background-color: #878BA6;
        // vertical-align: bottom;
        line-height: 1;
        box-sizing: border-box;
        border-radius: 0px 4px 4px 0px;
        outline: none;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Poppins-Regular;
        color: #F8F9FE;
        font-size: 12px;
        // padding: 2px 18px;
    }
}

.profile-pic{
    display: flex;
    justify-content: center;
    margin: 3% auto;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid #031943;
    padding: 2px;
    overflow: hidden;
    position: relative;
    z-index: 9;
    &:hover{
        .upload-pic{
            opacity: 1;
            transform: scale(1) rotateZ(0deg);
        }
    }
    .profile-pic-img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
    .upload-pic{
        background-color: rgba(3, 25, 67, 0.62);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
        opacity: 0;
        transform: scale(0) rotateZ(-90deg);
        label{
            color: #FFFFFF;
            font-family: Poppins-Regular;
            font-size: 12px;
            text-align: center;
        }
        .upload-pic-inp{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            appearance: none;
            // background-color: transparent;
            opacity: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
    }
}

.gbl-profile-set{
        // padding: 2.5rem 2.5rem 2rem 2.5rem;
        padding: 3.5% 4%  2% 4%;
        border: 1px solid #253AA34D;
        flex: 1;
        background-color: #FFFFFF;
}

.other-info{
    @extend .gbl-profile-set;
    border-radius: 3px;
    margin-bottom: 2.5%;
    margin-top: 15px;
    padding: 4% 7%  4% 7%;
    .support-formtitle{
        font-size: 14px;
        color: #878BA6;
        font-family: Poppins-Medium;
        margin-bottom: 20px;
        text-align: center;
    }    
}

.profile-box{
    display: flex;
    align-items: stretch;
    border-radius: 3px;
    margin-bottom: 2.5%;
    box-sizing: border-box;
    .profile-side{
        // float: left;
        border-radius: 3px 0px 0px 3px;
        background-color: #253AA3;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 90px !important;
        position: relative;
        .profile-side-title{
            color: #FFFFFF;
            font-family: Poppins-Medium;
            font-size: 20px;
            transform: rotateZ(-90deg);
            white-space: nowrap;
            margin: 0;
            line-height: 1;
            position: absolute;
        }
    }
    .profile-data{
        @extend .gbl-profile-set;
    }
}
.notification-title{
    color: #878BA6;
    margin-bottom: 14px;
    font-family: Poppins-Semibold;
}


// ===================================== NOTIFICATIONS

.tb-btn-red{
    background-color: #FE4343 !important;
}
.tb-btn-yellow{
    background-color: #FEAD43 !important;
}
.tb-btn-green{
    background-color: #08B62B !important;
}
.tb-btn-grey{
    background-color: #9499B7 !important;
}
.tb-btn-pink{
    background-color: #FE4394 !important;
}

.table-data{
    position: relative;
    thead th{
        border-bottom: none;
        border-top: none;
        background-color: rgba(135, 139, 166, 0.377);
        // font-size: 15px;
        font-family: Poppins-Regular;
        padding-top: 5px;
        padding-bottom: 5px;
        vertical-align: middle;
        .d-grp .d-inp{
            background-color: #ffffff;
            border: 0px;
            height: 35px;
        }
        .btn-th{
            width: 25px;
            height: 25px;
            border-radius: 4px;
            cursor: pointer;
            outline: none;
            background-color: #d3d3d3;
            border: 0px;
        }
    }
    tr{
        // padding-bottom: 10px;
        position: relative;
        border-bottom: 1px solid #70707052;
        transition: all 400ms ease-in-out;
        &:hover{
            background-color: #ffffff;
            // .action{
            //     background-color: #F38764;
            // }
        }
        td{
            border-top: none;
            // color: #ffffff;
            font-weight: 100;
            font-size: 15px;
            // padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: middle;
            &:nth-child(1){
                width: 30px;
                padding-right: 0px;
            }
            &:nth-child(2){
                padding-left: 0px;
            }
            &.time{
                color: #878BA6;
                font-family: Poppins-Medium;
                font-size: 12px;
            }
            .pan-inp{
                width: 100%;
                height: auto;
                border: 0px;
                border-bottom: 1px solid transparent;
                background-color: transparent;
                color: #ffffff;
                outline: none;
                padding-right: 20px;
                line-height: 1;
                // &:focus{
                //     border-bottom-color: #FF0055;
                //     &+.pan-edit{
                //         color: #FF0055;
                //     }
                // }
            }
            .action{
                width: auto;
                height: 20px;
                border-radius: 17px;
                background-color: #5473E8;
                color: #F8F9FE;
                cursor: pointer;
                padding: 0px 7px;
                margin: 2px;
                font-family: Poppins-Light;
                font-size: 10px;
                outline: none;
                transition: all 300ms ease;
                &:hover{
                    background-color: #5473E8;
                    color: #ffffff;
                }
            }
            .basic-info{
                display: flex;
                align-items: center;
                .basic-img{
                    width: 45px;
                    height: 45px;
                    border-radius: 22.5px;
                    margin-right: 10px;
                    background-color: #5473E8;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .basic-name{
                        margin: 0;
                        font-size: 20px;
                        color: #ffffff;
                    }
                }
                .basic-title{
                    margin: 0;
                    font-family: Poppins-Medium;
                    color: #2A3050;
                    line-height: 1;
                    font-size: 16px;
                }
                .basic-subtitle{
                    margin: 0;
                    color: #2A3050;
                    font-size: 12px;
                    line-height: 1;
                    font-family: Poppins-Regular;
                }
            }
        }
    }

}
.info{
    padding: 8%;
    position: relative;
    // position: relative;
    background-color: #ffffff;
    border-radius: 4px;
    margin-bottom: 6px;
    .info-title{
        color: #9499B7;
        font-family: Poppins-Semibold;
        margin-bottom: 0px;
        text-align: center;
    }
    hr{
        width: 80%;
        border-top: 2px solid #878BA6;
    }
    .info-data{
        padding: 0;
        list-style: none;
        li{
            padding: 5px 0px;
            display: flex;
            // justify-content: space-between;
            // border-bottom: 1px solid rgb(230, 230, 230);
            @include xsm{
                flex-direction: column;
            }
            @include md{
                flex-direction: column;
            }
            &:nth-last-child(1){
                border-bottom: 0px;
            }
            span{
                color: #878BA6;
                font-family: Poppins-Medium;
                font-size: 14px;
                &:nth-child(1){
                    width: 50%;
                    @include xsm{
                        width: 100%;
                    }
                    @include md{
                        width: 100%;
                    }
                }
                &:nth-child(2){
                    color: #2A3050;
                }
            }
        }
    }
    .info-space{
        margin-top: 6%;
    }
}