/* By Uk */
@import 'mixin';
@import 'fonts';



.btn{
    width: 180px;
    height: 45px;
    background-color: #253AA3;
    font-family: Poppins-Medium;
    font-size: 13px;
    outline: none;            
    color: #ffffff;
    border: 0;
    padding: 0px 12px;
    box-sizing: content-box;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    transition: all 350ms ease;
    &:hover{     
        outline: none;
        color: #ffffff;
        transform: scale(1.05);
        border-radius: 4px;
        box-shadow: 0px 4px 15px rgba(7, 79, 223, 0.329);
    }
}

.btn2{
    width: auto;
    height: 25px;
    background-color: #20BDC9;
    font-family: Poppins-Light;
    font-size: 12px;
    outline: none;            
    color: #ffffff;
    border: 0;
    padding: 0px 12px;
    box-sizing: content-box;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: all 350ms ease;
    &:focus{
        outline: none;
    }
    &:hover{   
        color: #ffffff;
        transform: scale(1.05);
        border-radius: 4px;
        box-shadow: 0px 4px 15px rgba(7, 79, 223, 0.329);
    }
}

.close{
    outline: none;
    border: 2px solid #353536 !important;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 6px;
    right: 6px;
    position: relative;
    &:focus{
        outline: none;
    }
    span{
        position: relative;
        top: -2px;
    }
}

.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}

// ===================================== HIRING CRITERIA
.hiring-modal{
    width: 100%;
    border-radius: 4px;
    border: 0px;
    background-color: #F8F9FE;
    .hiring-modal-header{
        background-color: #253AA3;
        .modal-title{
            color: #ffffff;
            text-align: center;
            width: 100%;
            font-family: Poppins-Medium;
        }
    }
    .hiring-modal-form{
        padding: 3% 5%;
        .modal-grp{
            display: block;
            margin-bottom: 18px;
            position: relative;
            .inp-caption{
                position: absolute;
                top: -10px;
                left: 10px;
                background-color: #fff;
                color: #878BA6;
                font-family: Poppins-Medium;
                font-size: 10px;
                padding: 2px;
            }
            .modal-inp{
                width: 100%;
                height: 42px;
                border-radius: 4px;
                padding: 0px 10px;
                border: 2px solid #878BA6;
                font-family: Poppins-Regular;
                font-size: 14px;
                background-color: #F8F9FE;
                &:focus{
                    box-shadow: none;
                    outline-color: #253AA3;
                }
                &.modal-textarea{
                    height: auto !important;
                    padding: 10px 10px;
                }
            }
            span{
                font-family: Poppins-Regular;
                font-size: 14px;
                margin-right: 8px;
                color: #878BA6;
            }
            .custom-control-inline{
                font-family: Poppins-Regular;
                margin-right: 0.6rem;
                font-size: 14px;
                color: #878BA6;
                .custom-control-label{
                    &::before, &::after{
                        width: 0.8rem;
                        height: 0.8rem;
                    }
                    vertical-align: middle;
                }
            }
        }
        .gaps{
            position: relative;
            &.gaps-disable{
                cursor: not-allowed;
                // pointer-events: none;
                user-select: none;
                &::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #f8f9fe73;
                    z-index: 99;
                }
            }
            .gaps-item{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-bottom: 2px;
                .gaps-title{
                    font-family: Poppins-Medium;
                    font-size: 16px;
                    color: #878BA6;
                    text-align: right;
                    text-decoration: underline;
                    margin-right: 8px;
                    // flex: 1;
                    // margin-left: 50px;
                    width: 50%;
                }
                .gaps-name{
                    font-family: Poppins-Regular;
                    font-size: 12px;
                    color: #878BA6;
                    margin-right: 8px;
                    flex: 2;
                    text-align: right;
                }
                .gaps-content{
                    display: flex;
                    align-items: center;
                    // flex: 3;
                    // flex-grow: 4;
                    .custom-control-inline{
                        font-size: 13px;
                    }
                    .modal-grp{
                        margin-bottom: 0;
                        .modal-inp{
                            height: 30px;
                            padding: 5px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}


.modal-icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 20px auto;
    background-color: rgba(37, 58, 163, 0.25);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    i{
        font-size: 30px;
        color: #253AA3;
    }
}
.modal-success{
    padding: 10px 20px 40px 20px;
    border-radius: 4px;
    text-align: center;
    .modal-success-txt{
        color: #2A3050;
        font-family: Poppins-Medium;
        font-size: 14px;
        margin: 0;
    }
    .modal-university-box{
        margin: 7px auto;
        background-color: rgba(135, 139, 166, 0.288);
        padding: 3px 6px;
        width: 90%;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #2A3050;
        span{
            width: 30px;
            height: 30px;
            border-radius: 6px;
            background-color: #ffffff;
            border: 1px solid #878BA6;
            font-size: 16px;
            margin-right: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.close-icon {
  font-size: 24px;
  position: absolute;
  right: 10px;
  cursor: pointer;
  opacity: 0.55;
  top: 10px;
  &:hover {
    opacity: 1;
  }
}
.subscription-modal {
  .modal-header {
    display: block;
    background: #253aa3;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    .modal-title {
      font-family: Poppins-Medium;
      letter-spacing: -0.25px;
      color: #ffffff;
      i {
        font-size: 32px;
        color: #ffffff;
        width: 46px;
      }
      span {
        font-size: 28px;
        color: #ffffff;
        letter-spacing: -0.25px;
      }
    }
    .close-icon {
      float: right;
      cursor: pointer;
      padding-top: 10px;
      padding-right: 15px;
      color: #ffffff;
      font-size: 26px;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
  .modal-body {
    padding: 1.5rem;
    .card {
      border: none;
      padding: 15px 20px;
      &:first-child {
        background-color: #878ba655;
      }
      &:nth-child(2) {
        background-color: #878ba622;
      }
      &:nth-child(3) {
        background-color: #2a3050;
        color: #ffffff;
      }
      span {
        font-size: 20px;
        font-family: Poppins-Medium;
      }
      .inner-list {
        padding-left: 15px;
        span {
          font-size: 18px;
          margin-left: -12px;
          font-family: Poppins-Medium;
        }
      }
      .tokens {
        font-family: Poppins-Medium;
        position: absolute;
        font-size: 24px;
        right: 40px;
        display: flex;
        top: 0;
        height: 100%;
        align-items: center;
      }
    }
    .btn3 {
      padding: 6px 12px;
    }
    .btn3:nth-child(2) {
      color: #000000;
    }
  }
}
.subscribe-success-modal {
  .modal-footer {
    background: #253aa3;
    display: block;
    background: #253aa3;
    text-align: center;
    color: #ffffff;
    font-family: Poppins-Medium;
  }

  .modal-body {
    padding: 2rem 5rem;
    .folder-blc {
      display: flex;
      justify-content: center;
      .circle {
        height: 83px;
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: rgba(37, 58, 163, 0.25);
        width: 83px;
        border-radius: 50%;
        .fa-folder-open {
          font-size: 35px;
          color: #253aa3;
        }
      }
    }
    .square {
      height: 63px;
      align-items: center;
      justify-content: center;
      display: flex;
      background-color: #ffffff;
      width: 63px;
      border: 1px solid #878ba6;
      border-radius: 10px;
    }
    .university {
      display: block;
      padding: 10px 0 0 10px;
      font-family: Poppins-Medium;
      font-size: 16px;
      letter-spacing: -0.14;
      .name {
        color: #2a3050;
      }
      .location {
        color: #878ba6;
        font-size: 15px !important;
      }
    }
    .sub-lbl {
      display: flex;
      font-family: Poppins-Medium;
      font-size: 30px;
      letter-spacing: -0.6px;
      font-weight: bolder;
      justify-content: center;
      color: #253aa3;
    }
    .sub-msg {
      font-size: 18px;
      font-family: Poppins-Medium;
      display: flex;
      text-align: center;
      justify-content: center;
    }
    .card {
      padding: 1rem 2rem;
      border: none;
      background-color: #878ba628;
      border-radius: 5px;
      .fa-university {
        font-size: 42px;
        color: rgba(135, 139, 166, 0.17);
      }
    }
  }
}

.mail-modal {
  .modal-header {
    background: #253aa3;
  }
  .modal-title {
    color: #ffffff;
    font-family: Poppins-Medium;
    font-size: 24px;
    display: block;
    text-align: center;
    letter-spacing: -0.25px;
  }
  .modal-body {
    padding: 0;
    .card {
      padding: 5px 150px 5px 25px;
      flex-direction: row;
      border-top: none;

      .control-label {
        color: #9499b7;
        font-family: Poppins-Medium;
        font-size: 24px;
        letter-spacing: -0.22px;
      }
      input {
        border: none;
        font-family: Poppins-Medium;
        color: #212123;
        padding: 2px 2px 2px 20px;
        font-size: 24px;
        letter-spacing: -0.22px;
        outline: none;
        width: 100%;
      }
      textarea {
        @extend input;
        padding-left: 0;
        font-size: 20px;
        height: 190px;
        color: #6c6d72;
        resize: none;
      }
    }
    .b-none {
      border-bottom: none !important;
    }
    .attachment {
      background-color: #dddfe660;
      display: flex;
      width: 100%;
      border-radius: 5px;
      padding: 8px 10px;
      flex-direction: row;
      .fa-paperclip {
        color: #878ba6;
        font-size: 28px;
        cursor: pointer;
      }
      span {
        font-size: 16px;
        color: #2a3050;
        line-height: 1.8;
        padding-left: 20px;
        font-family: Poppins-Medium;
        letter-spacing: -0.14px;
      }
    }
  }
  .close-icon {
    color: #ffffff;
    padding-top: 12px;
  }
  .modal-footer {
    justify-content: start;
    padding-left: 25px;
    background-color: #878ba626;
  }
}

.viewInsight-modal {
  .modal-grp {
    display: block;
    margin-bottom: 18px;
    position: relative;
    .inp-caption {
      position: absolute;
      top: -10px;
      left: 10px;

      background-color: #fff;
      color: #878ba6;
      font-family: Poppins-Medium;
      font-size: 10px;
      padding: 2px;
    }
    .inp-textarea {
      height: 162px !important;
      padding: 10px !important;
      ul {
        padding: 0 10px;
        li {
          list-style: none;
        }
      }
    }
    .modal-inp {
      width: 100%;
      height: 42px;
      border-radius: 4px;
      color: #2a3050;
      font-weight: 600;
      padding: 0px 10px;
      border: 1px solid #878ba6;
      font-family: Poppins-Regular;
      font-size: 14px;
      background-color: #ffffff;
      &:focus {
        box-shadow: none;
        outline-color: #253aa3;
      }
      &.modal-textarea {
        height: auto !important;
        padding: 10px 10px;
      }
    }
    span {
      font-family: Poppins-Regular;
      font-size: 14px;
      margin-right: 8px;
      color: #878ba6;
    }
    .custom-control-inline {
      font-family: Poppins-Regular;
      margin-right: 0.6rem;
      font-size: 14px;
      color: #878ba6;
      .custom-control-label {
        &::before,
        &::after {
          width: 0.8rem;
          height: 0.8rem;
        }
        vertical-align: middle;
      }
    }
  }
  .modal-header {
    background-color: #253aa3;
    display: block;
    .modal-title {
      display: block;
      text-align: center;

      color: #ffffff;
      font-size: 28px;
      letter-spacing: -0.25px;
    }
  }
  .modal-body {
    padding: 2rem 3rem;
  }
  .close-icon {
    color: #ffffff;
    top: 22px;
  }
}

.mail-sent-success {
  .circle-block {
    display: flex;
    justify-content: center;
  }
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #20bdc925;
    height: 122px;
    width: 122px;
    border-radius: 50%;
    .fa-check {
      color: #20bdc9;
      font-size: 54px;
    }
  }
  .mail-sent {
    justify-content: center;
    display: flex;
    font-family: Poppins-Regular;
    color: #2a3050;
    font-size: 24px;
    letter-spacing: -0.22px;
  }
  .card {
    background-color: #878ba628;
    width: 249px;
    border: none;
    display: inline-block;
    padding: 5px 10px;
    height: 52px;
    .square {
      height: 42px;
      align-items: center;
      float: left;
      justify-content: center;
      display: flex;
      background-color: #ffffff;
      width: 42px;
      border: 1px solid #878ba6;
      border-radius: 10px;
    }
    .fa-university {
      color: rgba(135, 139, 166, 0.17);
      font-size: 30px;
    }
    .univ-name {
      font-size: 16px;
      letter-spacing: -0.14px;
      color: #2a3050;
      position: absolute;
      left: 62px;
      font-weight: 500;
      bottom: 13px;
      display: block;
    }
  }
  .modal-body {
    padding: 2rem 0;
  }
}
